<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Por hacer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- componente donde se muestran las listas "Por hacer" -->
  <app-listas [tipo]="'por hacer'"></app-listas>
<!-- Boton para agregar nueva lista -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="AgregarLista()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
